@media (min-width: 992px) {
	.header {
		&__txt {
			font-size: 10rem;
			letter-spacing: 1em;
			line-height: 300%;
			span {
				color: $grey-color;
			}
		}
		&__desc {
			font-size: 3rem;
		}
	}
	.about {
		&__title {
			padding: 4em 0em;
			h2 {
				font-size: 7rem;
			}
		}
		&__desc {
			padding: 10em 0em;
			width: 45%;
		}
		&__scroll-section {
			padding-top: 0;
			h2 {
				font-size: 3rem;
				padding-top: 1em;
			}
		}
		&__wrapper {
			justify-content: center;
		}
		&__slideOne {
			position: relative;
			overflow: hidden;
			transition: background-color 0.3s, color 0.3s;
			justify-content: flex-start;
			&:hover {
				background-color: $grey-color;
				color: $secondary;
			}
			&-header {
				h3 {
					padding-left: 3em;
					font-size: 2rem;
				}
			}
		}
		&__slideTwo-desc {
			padding: 1em 0em;
		}
		&__slideTwo-img {
			width: 100%;
			&--code {
				width: 40%;
			}
		}
		&__slideThree-main {
			padding: 1em 0em;
			font-size: 3rem;
			font-weight: 200;
			span {
				font-size: 30rem;
				font-weight: 200;
			}
		}
		&__slideThree-desc {
			padding-top: 2em;
			font-size: 3rem;
		}
		&__blackSection {
			&-main {
				padding: 6em 0em;
				h3 {
					font-size: 6rem;
				}
			}
			&-desc {
				padding: 4em 0em;
				width: 50%;
			}
		}
	}
	.work {
		&__title,
		&__slider-slide {
			font-size: 4rem;
		}
		&__slider-slide {
			display: flex;
			width: 100%;
			overflow: hidden;
			background-color: $secondary;
			color: $primary;
		}
		&__slider-slide-one,
		&__slider-slide-two {
			padding: 0em 0.5em;
		}
		&__paralax {
			height: 140vh;
		}
	}
	.contact {
		&__title {
			padding: 10em 0em;
			h2 {
				font-size: 7rem;
			}
		}
		&__info {
			gap: 2em;
			&-img {
				width: 150px;
			}
			&-txt {
				font-size: 7rem;
				padding-bottom: 0.5em;
			}
		}
		&__main-dark {
			display: flex;
		}
	}
}
