@media (min-width: 768px) {
	.nav {
		&__btns {
			flex-direction: row;
		}
	}
	.menu {
		top: 1em;
		width: auto;
		border-radius: 20px;
		&__item {
			a {
				padding: 1em 1em;
			}
		}
	}
	.header {
		&__img {
			width: 500px;
		}
		&__txt {
			font-size: 5rem;
		}
	}
	.about {
		border-radius: 80px 80px 0px 0px;
		&__main {
			border-radius: 80px 80px 0px 0px;
		}
		&__title {
			padding: 3em 0em;
			h2 {
				font-size: 4rem;
				font-weight: 400;
			}
		}
		&__desc {
			padding: 8em 0em;
			width: 60%;
			line-height: 190%;
		}
		&__scroll-section {
			h2 {
				padding: 3em 0em;
				font-size: 4rem;
				font-weight: 400;
			}
		}
		&__slideOne {
			width: 90%;
			margin: 3em 0em;
			justify-content: start;
			&-header {
				width: 40%;
				h3 {
					padding: 1em;
					padding-left: 1em;
					font-size: 3rem;
				}
			}
			&-desc {
				font-size: 1.6rem;
				line-height: 168%;
				padding-right: 3em;
				width: 60%;
			}
		}
	}
}
