@media (min-width: 768px) {
	.nav {
		&__btns {
			flex-direction: row;
		}
	}
	.menu {
		top: 1em;
		width: auto;
		border-radius: 20px;
		&__item {
			a {
				padding: 1em 1em;
			}
		}
	}
	.header {
		&__img {
			width: 500px;
		}
		&__txt {
			font-size: 5rem;
		}
	}
	.about {
		border-radius: 80px 80px 0px 0px;
		&__main {
			border-radius: 80px 80px 0px 0px;
		}
		&__title {
			padding: 3em 0em;
			h2 {
				font-size: 4rem;
				font-weight: 400;
			}
		}
		&__desc {
			padding: 8em 0em;
			width: 60%;
			line-height: 190%;
		}
		&__scroll-section {
			h2 {
				padding: 3em 0em;
				font-size: 4rem;
				font-weight: 400;
			}
		}
		&__slideOne {
			flex-wrap: nowrap;
			width: 90%;
			margin: 3em 0em;
			justify-content: start;
			border-top: 1px solid $grey-color;
			border-bottom: 1px solid $grey-color;
			&-header {
				width: 40%;
				h3 {
					padding: 1em;
					padding-left: 1em;
					font-size: 3rem;
				}
			}
			&-desc {
				font-size: 1.6rem;
				line-height: 168%;
				padding-right: 3em;
				width: 60%;
			}
		}
		&__slideTwo-desc {
			padding: 5em 1em;
			font-size: 1.6rem;
			width: 80%;
		}
		&__slideTwo-img {
			flex-wrap: nowrap;
			padding: 3em 1em;
			gap: 3em;
			align-items: center;
			width: 80%;
			&--icons {
				display: flex;
				flex-wrap: wrap;
				width: 40%;
				gap: 2em;
				img {
					display: block;
					width: 50px;
					height: 50px;
					filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
				}
			}
			&--code {
				width: 60%;
			}
		}
		&__slideThree-main {
			padding: 8em 0em;
			font-size: 2rem;
			font-weight: 200;
			span {
				font-size: 20rem;
				font-weight: 200;
			}
		}
		&__slideThree-desc {
			font-size: 2rem;
		}

		&__blackSection {
			&-main {
				flex-direction: row;
				justify-content: center;
				padding: 5em 0em;
				h3 {
					width: 45%;
					font-size: 3rem;
				}
				&--img {
					width: 40%;
					margin: 0;
				}
			}
			&-desc {
				align-self: center;
				width: 60%;
				font-size: 1.6rem;
			}
		}
	}
	.work {
		&__title,
		&__slider-slide {
			font-size: 3rem;
		}
		&__img {
			width: 100%;
			border-radius: 20px;
			overflow: hidden;
			img {
				border-radius: 20px;
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
	.contact {
		&__title {
			padding: 10em 0em;
			h2 {
				font-size: 4rem;
				line-height: 95%;
			}
		}
		&__info {
			gap: 2em;
			&-img {
				width: 150px;
			}
			&-txt {
				font-size: 4rem;
			}
		}
		&__main-dark.full {
			display: flex;
		}
	}
	.footer {
		&__main {
			padding: 2em 0em;
			font-size: 1.6rem;
		}
	}
}
