@use './colors' as *;
@use './animations' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	font-family: 'Inter', sans-serif;
	margin: 0 auto;
	font-size: 1.6rem;
	background-color: $primary;
	scroll-padding-top: 50px;
}

html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto;
}

.app {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav {
	position: absolute;
	top: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	padding: 0em 1em;
	overflow: hidden;
	&__btns {
		display: flex;
		flex-direction: column;
		gap: 1em;
		z-index: 200;
		button {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: none;
			color: $secondary;
			background-color: $grey-color;
			cursor: pointer;
			transition: opacity 0.4s, transform 0.4s;
			&:hover {
				opacity: 0.8;
				transform: scale(0.9);
			}
		}
	}
}

.logo {
	color: $secondary;
	z-index: 200;
	p {
		font-size: 2rem;
		span {
			font-size: 1.6rem;
			font-weight: bold;
		}
	}
}

.menu {
	width: 100%;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	background-color: $primaryTrans;
	z-index: 100;
	&__list {
		display: flex;
		align-items: center;
		list-style: none;
		flex-wrap: wrap;
	}
	&__item {
		a {
			display: inline-block;
			color: $secondary;
			text-decoration: none;
			transition: opacity 0.4s;
			padding: 0em 0.4em;
			padding-top: 3.4em;
			padding-bottom: 1em;
			&:hover {
				opacity: 0.7;
			}
		}
	}
}

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 90vh;
	&__img {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translateX(-50%);
		width: 300px;
		img {
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	&__txt {
		width: 100%;
		max-width: 1200px;
		text-align: center;
		color: $secondary;
		font-size: 3rem;
		padding-left: 0.5em;
		letter-spacing: 1em;
		line-height: 500%;
		z-index: 5;
		overflow: hidden;
		span {
			color: $grey-color;
		}
	}
	&__desc {
		color: $secondary;
		font-size: 2rem;
		font-weight: 200;
		span {
			font-weight: bold;
		}
	}
}

.about {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	z-index: 10;
	&__main {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 8em;
		width: 100%;
		background-color: $secondary;
		color: $primary;
		border-radius: 40px 40px 0px 0px;
		box-shadow: 0px -40px 120px 0px rgba(0, 0, 0, 0.8);
		transition: background-color 0.4s;
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 1200px;
		padding: 0em 1em;
	}
	&__title {
		display: flex;
		flex-direction: column;
		padding: 2em 0em;
		h2 {
			display: inline-block;
			font-size: 2.4rem;
			font-weight: 400;
			line-height: 95%;
			span {
				color: $grey-color;
			}
		}
	}
	&__desc {
		align-self: center;
		padding: 6em 0em;
	}
	&__scroll-outer {
		overflow: hidden;
	}
	&__scroll-inner {
		display: flex;
		position: relative;
		height: 100vh;
		width: 300vw;
	}
	&__scroll-section {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100vw;
		.about__wrapper {
			padding: 0;
		}
		h2 {
			padding-top: 5em;
			font-weight: 400;
		}
	}
	&__slideOne {
		display: flex;
		flex-wrap: wrap;
		align-self: center;
		align-items: center;
		gap: 1em;
		width: 100%;
		padding: 1em 0em;
		margin: 2em 0em;
		&-header {
			padding: 0em;
			width: 32%;
			h3 {
				padding: 0em;
			}
		}
		&-desc {
			font-size: 1rem;
			width: 65%;
		}
	}
	&__slideTwo-main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__slideTwo-desc {
		padding: 4em 1em;
		font-size: 1rem;
		line-height: 168%;
	}
	&__slideTwo-img {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 1em;
		gap: 2em;
		&--icons {
			display: flex;
			gap: 2em;
			img {
				filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
				transition: transform 0.4s;
				&:hover {
					transform: scale(1.5);
				}
			}
		}
		&--code {
			width: 90%;
			img {
				width: 100%;
				object-fit: cover;
				object-position: center;
				transition: transform 0.4s;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
	&__slideThree-main {
		align-self: center;
		width: 100%;
		padding: 6em 0em;
		text-align: center;
		span {
			font-size: 8rem;
			font-weight: 200;
		}
	}
	&__slideThree-desc {
		align-self: center;
		width: 80%;
		text-align: center;
		span {
			color: $grey-color;
		}
	}
	&__blackSection {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $primary;
		.about__title {
			color: $secondary;
		}
		&-main {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 2em;
			padding: 2em 0em;
			h3 {
				color: white;
				line-height: 95%;
				font-size: 2rem;
				font-weight: 400;
			}
			&--img {
				border-radius: 20px;
				overflow: hidden;
				width: 200px;
				margin: 2em;
				img {
					width: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
		}
		&-desc {
			padding-bottom: 4em;
			color: $secondary;
			font-size: 1rem;
			line-height: 190%;
		}
	}
	&__main-dark {
		display: none;
	}
}

.main_dark {
	background-color: $primary;
	color: $secondary;
}

.btnDark {
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	border: none;
	width: 50px;
	height: 50px;
	color: $secondary;
	background-color: $grey-color;
	cursor: pointer;
	transition: transform 0.4s;
	z-index: 100;
	&:hover {
		transform: scale(0.9);
	}
}

.contact {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	&__main {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 8em 0em;
		background-color: $secondary;
		color: $primary;
	}
	&__title {
		align-self: center;
		padding: 3em 0em;
		h2 {
			font-size: 2.4rem;
			font-weight: 400;
			line-height: 95%;
			span {
				color: $grey-color;
			}
		}
	}
	&__info {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		gap: 1em;
		&-img {
			width: 100px;
			img {
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		&-txt {
			font-size: 1.6rem;
			padding-bottom: 1em;
		}
	}
	&__main-dark {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $primary;
		color: $secondary;
		clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
		transition: clip-path 100ms;
	}
}

.full {
	clip-path: circle(200% at 100% 100%);
	transition: clip-path 1.3s;
	transition-timing-function: cubic-bezier(1, -0.01, 0.01, 0.99);
}

@import './medium';
@import './large';
